<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829364964290-5dohs4ftal80csh8g4v9932jogs9jor3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829364964290-5dohs4ftal80csh8g4v9932jogs9jor3</string>
	<key>API_KEY</key>
	<string>AIzaSyC5ag92jKUVbfXhYFp1M_dSP5FUdoNo1N0</string>
	<key>GCM_SENDER_ID</key>
	<string>829364964290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>example.expo.googlesignin</string>
	<key>PROJECT_ID</key>
	<string>signin-3beae</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-3beae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829364964290:ios:949373c25d2863f623245b</string>
	<key>DATABASE_URL</key>
	<string>https://signin-3beae.firebaseio.com</string>
</dict>
</plist>